.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #0068a8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url('/img/bgLogin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
