@use '../../scss/variables' as *;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 175px;
  background: linear-gradient(to bottom, $normal 50%, $normalhover 50%);

  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  .header {
    padding: 25px 25px 10px 25px;
    display: flex;
    justify-content: space-between;

    .management {
      .customButton {
        text-transform: none;
        font-weight: 500;
        background-color: $normal;
        font-size: 1rem;
        border: 1px solid $normal;
        transition: all 0.3s ease;
        padding: 0.3rem 1rem;

        img {
          transition: transform 0.3s ease;
        }

        &:hover {
          border-color: $light;

          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.07);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
      backdrop-filter: blur(5px);
      border-radius: 1rem;
      margin: 100px 0 120px 0;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refreshIcon {
  animation: rotate 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
