@use '../../scss/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 25rem;
  background-color: $normal;
  border-radius: 1rem;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
