@import '../../scss/variables';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 1.75rem;
  border-color: $white;
  width: 16rem;
  background-color: $normalhover;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
}
.logo {
  display: flex;
}
.categories {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  column-gap: 0.875rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $white;
  background-color: $normalhover;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $normal;
  }
}
.active {
  background: $normal;
}
