@use '../../scss/variables' as *;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 1.75rem;
  border-color: $white;
  width: 16rem;
  background-color: $normalhover;

  @media (max-width: 1280px) {
    width: 4rem;
    padding-top: 1rem;
  }
}
.logo {
  display: flex;
  padding: 0 1.5rem 0;
  align-items: center;

  span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5px;
  }

  img {
    width: 36px;
    height: 36px;
  }

  @media (max-width: 1280px) {
    justify-content: center;
    padding: 0.75rem;
    span {
      display: none;
    }
  }
}
.categories {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  column-gap: 0.875rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $white;
  background-color: $normalhover;
  transition: background-color 0.3s ease-in-out;

  @media (max-width: 1280px) {
    span {
      display: none;
    }
  }

  &:hover {
    background-color: $normal;
  }

  @media (max-width: 1280px) {
    justify-content: center;
    font-size: 0;
  }
}

.active {
  background: $normal;
}
.navigate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* w-full */
  height: 100%; /* h-full */
  margin-top: 4rem; /* mt-16, 1rem = 16px, 4rem = 64px */
  padding: 1.5rem;

  @media (max-width: 1280px) {
    padding: 0.75rem;
  }
}
