$white: #ffffff;
$light: #e6f0f6;
$lighthover: #d9e8f2;
$lightactive: #b0d0e4;
$normal: #0068a8;
$normalhover: #005e97;
$normalactive: #005386;
$dark: #004e7e;
$darkhover: #003e65;
$darkactive: #002f4c;
