@use 'variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; // предотвратит горизонтальную прокрутку
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 100vh;
  padding-top: 1.75rem;
  border-color: $white;
  width: 16rem;
  background-color: $normalhover;
}
.mainLayout {
  flex: 1;
  height: 100vh;
  padding: 20px;
  margin-left: 16rem; // добавляем отступ равный ширине сайдбара
  background-color: $light;
  @media (max-width: 1280px) {
    margin-left: 4rem;
  }
}
